baseurl: "" # the subpath of your site, e.g. /blog
url: "https://seokhyunhwang.com" # the base hostname & protocol for your site, e.g. http://example.com

title: "Seokhyun Hwang"
description: "This is Seokhyun Hwang's Info"
lang: "en"
timezone: "UTC"
logo: "/logo.jpeg"
image: "/images/Intro.webp"


# Build settings
markdown: kramdown
permalink: pretty
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll/tagging
  - jekyll-seo-tag
  - jekyll-feed

paginate: 20
paginate_path: "/page/:num"


# Pages Path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext

include:
  - _pages


# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  pretty

sass:
  sass_dir: _sass
  style: compressed